<!DOCTYPE html>
<html>
  <head>
    <title>QueMePongo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  #<link href="/stylesheets/home.scss" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Dela+Gothic+One&family=Faster+One&family=Goldman:wght@400;700&family=Roboto&family=Roboto+Condensed:ital,wght@0,700;1,700&family=Spicy+Rice&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
